.portfolio {
  display: none;
}

.portfolio.active {
  display: block;
}

.portfolio-projects {
  display: grid;
  gap: 2rem;
}

.portfolio-projects img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.portfolio h4 {
  margin: 0.75rem 0;
}

.portfolio-btn--container {
  width: 100%;
  display: flex;
  gap: 1rem;
}

@media (min-width: 768px) {
  .portfolio-projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
